.app_logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  position: absolute;
  left: 0;
  padding: 10px;
}

.button {
  position: absolute;
  right: 0;
  padding-right: 10px;
}

.navbar {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.default {
  background-color: #ffffff;
  color: grey;
}

.saving {
  background-color: salmon;
  color: white;
}

.app_link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
